# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/coen243_assignment_3.iml
/editor.xml
/misc.xml
/modules.xml
/vcs.xml
